<div class="layout">
    <mat-toolbar color="primary">
        <span>Upload</span>
        <button mat-icon-button matTooltip="Refresh" (click)="ngOnInit()">
          <mat-icon>refresh</mat-icon>
        </button>
        <span class="fill-remaining-space"></span>
        <button *ngIf="currentSelectedContent.length > 0" mat-icon-button matTooltip="Delete" (click)="openDialog('delete', currentSelectedContent)" style="width: 100px;">
          <mat-icon>delete</mat-icon> &nbsp; Delete
        </button>
        <button mat-icon-button matTooltip="Upload file" (click)="openDialog('upload', '')" style="width: 100px;">
          <mat-icon>file_upload</mat-icon> &nbsp; Upload
        </button>
    </mat-toolbar>

    <div class="tableContainer">
        <table mat-table [dataSource]="uploadList" class="tableStyle">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','width':'10%'}">
                    Select
                    <mat-checkbox [ngClass]="{'checkboxselect':masterSelected, 'checkboxdiselect':!masterSelected}" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="selectMasterEvent()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <mat-checkbox [ngClass]="{'checkboxselect':row.is_selected, 'checkboxdiselect':!row.is_selected}" [(ngModel)]="row.is_selected" name="list_name" value="row.id" (change)="selectListContentEvent(row)">
                    </mat-checkbox>
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','width':'25%'}">
                    Name </th>
                <td mat-cell *matCellDef="let row">
                    <span> {{row.name}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','text-align': 'center','width':'10%'}">
                    Type </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <span> {{row.type}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','text-align': 'center','width':'15%'}">
                    Size </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <span> {{row.size}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="extension">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','text-align': 'center','width':'10%'}">
                    Extension </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <span> {{row.extension}}</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef [ngStyle]="{'font-size': '18px','text-align': 'center','width':'20%'}">
                    Action </th>
                <td mat-cell *matCellDef="let row" [ngStyle]="{'text-align': 'center'}">
                    <button mat-raised-button matTooltip="Play" color="primary" class="menu-button" (click)="openDialog('preview', row)">
                    <mat-icon>play_arrow</mat-icon> &nbsp; Preview
                    </button>
                    <button mat-raised-button matTooltip="Import to Karaoke" color="primary" class="menu-button">
                    <mat-icon>edit</mat-icon> &nbsp; Import
                    </button>

                    <button mat-raised-button matTooltip="Delete" color="primary" class="menu-button" (click)="openDialog('delete', row)">
                    <mat-icon>delete</mat-icon> &nbsp; Delete
                  </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableHeader; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
        </table>
    </div>

</div>
